services:
  nginx-proxy:
    image: nginx:alpine
    ports:
      - "80:80"     
      - "3000:443"  
    volumes:
      - ./nginx-conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro